---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

// get all posts in order of pubDate
const posts = (await getCollection("projects")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

// filter posts by tag and get the last 3
const filterPostsByTag = (posts, tag, exclude = false) => {
  return posts.filter(post => {
    const hasTags = post.data.tags && Array.isArray(post.data.tags);
    if (exclude) {
      return !hasTags || !post.data.tags.includes(tag);
    }
    return hasTags && post.data.tags.includes(tag);
  });
};
const projectPosts = filterPostsByTag(posts, "ongoing").slice(0, 3);

// get the last 3 posts that don't have the "ongoing" tag
const lastPosts = filterPostsByTag(posts, "ongoing", true).slice(0, 3);
---

<BaseLayout img="/images/sloraris-banner.jpg" topNavActiveItemID="home">
  <div class="mockup-window border bg-base-200">
    <div class="hero flex flex-col justify-center rounded-xl relative overflow-hidden">
      <div class="absolute inset-0 z-0">
        <img src="/hero/cosmic.jpg" alt="Cosmic background" class="w-full h-full object-cover filter blur-sm" />
        <div class="absolute inset-0 bg-black opacity-50"></div>
      </div>
      <div class="hero-content text-center">
        <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 lg:grid-cols-3 sm:gap-4">
          <div class="avatar col-span-1 w-full min-w-[150px] max-w-[300px] mx-auto">
                <img src="/logos-dark/slo-square-dark-mode.svg" />
          </div>
          <div class="flex flex-col items-center justify-center gap-y-4 col-span-1 lg:col-span-2">
            <h1 class="text-5xl font-bold">Hello there</h1>
            <p class="max-w-xl">
              This site is a collection of my self-taught skills, tech experiments, and experiences.
              Feel free to explore my projects or learn more about me.
            </p>
            <div class="index-buttons flex flex-row flex-wrap justify-center gap-4">
              <a href="/projects" class="btn btn-accent btn-wide">
                View Projects
              </a>
              <a href="/about" class="btn btn-outline btn-primary btn-wide">
                About Me
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <h2 class="text-3xl w-full font-bold mb-4 mt-10">Ongoing Shenanigans</h2>
  </div>

  <div class="grid grid-cols-1 gap-4">
  {
    projectPosts.map((post) => (
    <HorizontalCard
      title={post.data.title}
      img={post.data.heroImage}
      desc={post.data.description}
      url={"/projects/" + createSlug(post.data.title, post.slug)}
      badge={post.data.badge}
      />
      ))}
  </div>

  <div>
    <h2 class="text-3xl w-full font-bold mb-4 mt-10">Hot off the CPU</h2>
  </div>

  <div class="grid grid-cols-1 gap-4">
    {
      lastPosts.map((post) => (
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/projects/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
      ))
    }
  </div>
</BaseLayout>
